API_BASE_URL="https://api.example.com"
LOGGER_LEVEL="all" | "verbose" | "trace" | "debug" | "info" | "warning" | "error" | "fatal" | "off"
APP_VERSION_TAG="x.x.x-mod"
GOOGLE_CLIENT_ID="your-client-id"
GOOGLE_CLIENT_ID_IOS="your-ios-client-id"
GOOGLE_CLIENT_ID_WEB="your-web-client-id"